<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/addUser}"  method="post">
<input type="text" class="form-control" name="name"  id="name" placeholder="name"/>
<input type="password" class="form-control" name="password" id="password" placeholder="password"/>
<select name="role">
    <option>ROLE_WORKER</option>
    <option>ROLE_REQUESTER</option>
</select>
<input type="submit" value="Submit"/>
</form>
</body>
</html>